<div class="row">
  <div class="col-md-3">
    <table class="table table-striped">
      <tr> <td>Session 1</td> <td><a href="https://floswald.github.io/python-novice-inflammation/01-intro.html">Python Introduction</a> </td> </tr>
      <tr> <td>Session 2</td>  <td><a href="https://floswald.github.io/python-novice-inflammation/02-numpy.html">Analyzing Patient Data</a> </td> </tr>
      <tr> <td>Session 3</td>  <td><a href="https://floswald.github.io/python-novice-inflammation/03-matplotlib.html">Visualizing Tabular Data</a> </td> </tr>
      <tr> <td>Session 4</td>  <td><a href="https://floswald.github.io/python-novice-inflammation/04-lists.html">Storing in Lists</a> </td> </tr>
      <tr> <td>Session 5</td>  <td><a href="https://floswald.github.io/python-novice-inflammation/05-loops.html">Loops</a> </td> </tr>
      <tr> <td>Session 6</td>  <td><a href="https://floswald.github.io/python-novice-inflammation/06-files.html">Working with Files</a> </td> </tr>
      <tr> <td>Session 7</td>  <td><a href="https://floswald.github.io/python-novice-inflammation/07-cond.html">Making Choices</a> </td> </tr>
      <tr> <td>Session 8</td>  <td><a href="https://floswald.github.io/python-novice-inflammation/08-func.html">Making Choices</a> </td> </tr>
      <tr> <td>Session 9</td>  <td><a href="https://floswald.github.io/python-novice-inflammation/09-errors.md">Errors</a> </td> </tr>
      <tr> <td>Session 10</td>  <td><a href="https://floswald.github.io/python-novice-inflammation/10-defensive.md">Defensive Programming</a> </td> </tr>
      <tr> <td>Session 11</td>  <td><a href="https://floswald.github.io/python-novice-inflammation/11-debugging.md">Debugging</a> </td> </tr>
      <tr> <td>Session 12</td>  <td><a href="https://floswald.github.io/python-novice-inflammation/12-cmdline.md">Running From Commandline</a> </td> </tr>
    </table>
  </div>
</div>
