
<div id="onedrive">
    <h3>Issues relating to Windows OneDrive</h3>


    <details>
        <summary><strong> If you are a windows user: 
            </strong>please expand the following warning!</summary>
        <div class="alert alert-warning">
            OneDrive is used by many institutions to sync your user folder (<code>C:\Users\[your-username]\</code>) within an organisation.
            It may cause issues with the installation of the computing environment we will use in our course. The sync mechanism basically stores the files in a different location to <code>C:\Users\[your-username]\</code>, which is hard to find.<br/>
            If you have OneDrive set up, please ensure that you can access your <code>C:\Users\[your-username]\Downloads</code> folder:
            <p>
                <ul>
                <li>Open File Explorer</li>
                <li>Right click on the "Downloads" folder in the left-hand navigation pane</li>
                <li>Select "Properties"</li>
                <li>In the "Location" tab, ensure that the path is set to <code>C:\Users\[your-username]\Downloads</code></li>
                <img src="assets/img/onedrive_downloads_location.png" alt="OneDrive Downloads Location">
                </ul>
            </p>
            <strong>If you encounter problems, please contact your IT support team and workshop organisers for assistance before the workshop.</strong>
        </div>
    </details>
</div>
